/* Add your custom styles here */




/* adds some margin below the link sets  */
.navbar .dropdown-menu div[class*="col"] {
   margin-bottom:1rem;
}

.navbar .dropdown-menu {
  border:none;
  // background-color: $brand-color !important;
}

/* breakpoint and up - mega dropdown styles */
@media screen and (min-width: 992px) {
  
  /* remove the padding from the navbar so the dropdown hover state is not broken */
// .navbar {
//   padding-top:0px;
//   padding-bottom:0px;
// }

/* remove the padding from the nav-item and add some margin to give some breathing room on hovers */

/* makes the dropdown full width  */
.navbar .dropdown {position:static;}

.navbar .dropdown-menu {
  width:100%;
  left:0;
  right:0;
/*  height of nav-item  */
  top: 100%;
  margin: 0;
  display:block;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s linear;
}
  
 

  
  /* shows the dropdown menu on hover */
.navbar .dropdown:hover .dropdown-menu, .navbar .dropdown .dropdown-menu:hover {
  display:block;
  visibility: visible;
  opacity: 1;
  transition: visibility 0s, opacity 0.3s linear;
}
  
  .navbar .dropdown-menu {
    border-radius: 6px;
    background-color: #fff;
    -webkit-box-shadow: 0 6px 14px 0 rgba(43,35,79,.1);
            box-shadow: 0 6px 14px 0 rgba(43,35,79,.1);
  }

}

// Slick slider
.slick-slider {
  .slide {
    height: 90vh;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
  }
}