<section class="countup countup_bg">
    <div id="counter"></div>
    <div class="container py-5">
        <div class="section-title color-two text-center">
            <h2 class="title title_bg title_brush text-center">Our Achievements</h2>
            <h3 class="subtitle text-center py-2">One of the Highest Rated Counselling Service</h3>
            <p class="font-weight-light text-gray text-center pb-2">Over the 14+ Glorious Year of Excellence, our passion to guide students has led us across the length and breadth of the country.</p>
        </div>
        <div class="countup-wrapper-two">
            <div class="row no-gutters">
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div>
                        <div class="icons icons_h"><i class="fas fa-2x text-white fa-user-graduate"></i></div>
                        <div class="counter">
                            <h5 class="pt-3">Students Impacted</h5>
                            <p class="count d-inline-block font-weight-medium" data-counter="50000">0</p><span class="count">+</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div>
                        <div class="icons icons_h"><i class="fas fa-2x text-white fa-people-arrows"></i></div>
                        <div class="counter">
                            <h5 class="pt-3">Counselling one to one</h5>
                            <p class="count d-inline-block font-weight-medium" data-counter="10000">0</p><span class="count">+</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div>
                        <div class="icons icons_h"><i class="fas fa-2x text-white fa-person-booth"></i></div>
                        <div class="counter">
                            <h5 class="pt-3">Seminars</h5>
                            <p class="count d-inline-block font-weight-medium" data-counter="500">0</p><span class="count">+</span>
                        </div>
                    </div>
                </div>
                <div class="col-lg-3 col-md-6 col-sm-6 text-center">
                    <div>
                        <div class="icons icons_h"><i class="fas fa-2x text-white fa-check-circle"></i></div>
                        <div class="counter">
                            <h5 class="pt-3">Successful Clients</h5>
                            <p class="count d-inline-block font-weight-medium" data-counter="4000">0</p><span class="count">+</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<style>

</style>