<!-- Footer -->
<footer class="py-5">
  <div class="container">
  	<div class="row">
    	<div class="col-12 col-md-3 my-auto mx-auto">
    		<img src="/assets/images/leopride-130x100.png" alt="leopride logo">
    	</div>
    	<div class="col-12 col-md-3">
    		<h3 class="pb-2 font-weight-medium">Useful Links</h3>
    		<ul class="pl-2">
    			<li class="mb-2"><a href="#">NEET Guide</a></li>
    			<li class="mb-2"><a href="#">Engineering Guide</a></li>
    			<li class="mb-2"><a href="#">About Us</a></li>
    		</ul>
    	</div>
    	<div class="col-12 col-md-3">
    		<h3 class="pb-2 font-weight-medium">Contanct</h3>
    		<ul>
    			<li>
    				<a href="">
    					<div class="d-inline-block"><i class="fas fa-phone"></i></div>
    					<div class="d-inline-block">+91-991-120-3280</div>
    				</a>
    			</li>
    			<li>
    				<a href="">
    					<div class="d-inline-block"><i class="fas fa-map-marker-alt"></i></div>
    					<div class="d-inline-block">No. 205, U.S. Complex, Jasola, Delhi- 110076</div>
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="col-12 col-md-3">
    		<h3 class="pb-2 font-weight-medium">Follow Us</h3>
    		<ul class="list-style-none">
    			<li><a href=""><i class="fab fa-instagram"></i></a></li>
    			<li><a href=""><i class="fab fa-linkedin-in"></i></a></li>
    			<li><a href=""><i class="fab fa-youtube"></i></a></li>
    			<li><a href=""><i class="fab fa-facebook-f"></i></a></li>
    		</ul>
    	</div>
  	</div>
  </div>
  <!-- /.container -->
</footer>