<!-- Footer -->
<footer class="py-5">
  <div class="container">
  	<div class="row">
    	<div class="col-12 col-md-3 my-auto text-center">
    		<img src="/assets/images/leopride-130x100.png" alt="leopride logo">
    	</div>
    	<div class="col-12 col-md-3">
    		<h3 class="pb-2 font-weight-medium">Useful Links</h3>
    		<ul class="pl-2">
    			<li class="mb-2"><a href="#">NEET Guide</a></li>
    			<li class="mb-2"><a href="#">Engineering Guide</a></li>
    			<li class="mb-2"><a href="#">About Us</a></li>
    		</ul>
    	</div>
    	<div class="col-12 col-md-3">
    		<h3 class="pb-2 font-weight-medium">Contanct</h3>
    		<ul class="pl-2 list-style-none">
    			<li class="mb-2">
    				<a href="">
              <div class="row">
                  <div class="col-12">
                      <span>
                      <i class="fas fa-phone mr-2"></i>
                      </span>
                      <span>
                           +91-991-120-3280
                      </span>
                  </div>
              </div>
    				</a>
    			</li>
    			<li class="mb-2">
    				<a href="">
              <div class="row">
                  <div class="col-12">
                      <span>
                        <i class="fas fa-map-marker-alt mr-2"></i>
                      </span>
                      <span>
                        No. 205, U.S. Complex, Jasola, Delhi- 110076
                      </span>
                  </div>
              </div>
    				</a>
    			</li>
    		</ul>
    	</div>
    	<div class="col-12 col-md-3 social">
    		<h3 class="pb-2 font-weight-medium">Follow Us</h3>
    		<ul class="pl-2 list-style-none">
    			<li class="d-inline-block round_border mr-2 wh-20-20 text-center p-0 m-0"><a href="#"><i class="fab fa-instagram"></i></a></li>
    			<li class="d-inline-block round_border mr-2 wh-20-20 text-center p-0 m-0"><a href="#"><i class="fab fa-linkedin-in"></i></a></li>
    			<li class="d-inline-block round_border mr-2 wh-20-20 text-center p-0 m-0"><a href="#"><i class="fab fa-youtube"></i></a></li>
    			<li class="d-inline-block round_border mr-2 wh-20-20 text-center p-0 m-0"><a href="#"><i class="fab fa-facebook-f"></i></a></li>
    		</ul>
    	</div>
  	</div>
    <div class="row">
      <div class="col-12">
        <hr class="dashed my-5">
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <p class="text-center font-weight-medium">All Rights Reserved Copyright NEET Advisor © 2020. Developed by <a href="https://icsoln.com">ICS</a></p>
      </div>
    </div>
  </div>
  <!-- /.container -->
</footer>