<section class="goals goals_bg bg-light py-5">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="goal row justify-content-center">
                      <div class="col-md-6">
                          <div class="paper py-3">
                              <img src="/assets/images/ameya.jpg" alt="Ameya">
                              <p class="text-center font-weight-medium p-0 m-0">Ameya Suryavanshi</p>
                              <p class="text-center font-weight-light p-0 m-0">Studying MBBS in Manipal</p>
                          </div>
                      </div>
                  </div>
                 <div class="goal row justify-content-center">
                      <div class="col-md-6">
                          <div class="paper py-3">
                               <img src="/assets/images/shashwath.jpg" alt="Shashwath">
                               <p class="text-center font-weight-medium p-0 m-0">Shashwat Saraswati</p>
                               <p lass="text-center font-weight-light p-0 m-0">Studying MBBS in AFMC, Pune</p>
                          </div>
                      </div>
                  </div>
            </div>
            <div class="col-lg-6 my-auto">
                <div class="goals-content">
                    <div class="section-title">
                        <h2 class="title title_bg title_brush">We Reach Our Goals</h2>
                    </div>
                    <div class="description">
                        <h2 class="subtitle py-2">Top <span class="text-uppercase"><strong>Medical College Students</strong></span> are from LeoPride!</h2>
                        <p class="subtitle font-weight-light text-gray mt-2">Students we counselled excelled the best in <span class="text-uppercase"><strong>counselling</strong></span>.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>