        <section class="testimonials bg-light">
            <div class="container py-5">
                <div class="section-title text-center">
                    <h3 class="sub-title  pixFadeUp">Testimonial</h3>
                    <h2 class="title  pixFadeUp" data-wow-delay="0.3s">What our students say about us</h2></div>
                
                <div id="testimonial-wrapper" class="pixFadeUp" data-wow-delay="0.4s">
                        <div class="row justify-content-center mb-5">
<!--                                 <div class="col-12 col-md-10 testimonial">
                                    <div class="testi-content-inner">
                                        <div class="testimonial-bio">
                                            <div class="avatar"><img src="media/testimonial/1.jpg" alt="testimonial"></div>
                                            <div class="bio-info">
                                                <h3 class="name">Desmond Eagle</h3><span class="job">Web designer</span></div>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>Tosser nancy boy super tickety-boo lemon squeezy easy peasy quaint, hunky-dory baking cakes pear shaped butty do one, it's all gone to pot chinwag.!</p>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="shape-shadow"></div>
                                </div>
   
                                <div class="col-12 col-md-10 testimonial">
                                    <div class="testi-content-inner">
                                        <div class="testimonial-bio">
                                            <div class="avatar"><img src="media/testimonial/1.jpg" alt="testimonial"></div>
                                            <div class="bio-info">
                                                <h3 class="name">Desmond Eagle</h3><span class="job">Web designer</span></div>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>Tosser nancy boy super tickety-boo lemon squeezy easy peasy quaint, hunky-dory baking cakes pear shaped butty do one, it's all gone to pot chinwag.!</p>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>
                                    </div>
                                    <div class="shape-shadow"></div>
                                </div> -->
                           
                                <div class="col-12 col-md-10 testimonial">
                                    <div class="testi-content-inner">
                                        <div class="testimonial-bio">
                                            <div class="avatar">
                                                <img src="/assets/images/garima-saluja.jpg" alt="testimonial">
                                            </div>
                                            <div class="bio-info">
                                                <h3 class="name">Garima Saluja</h3><span class="job">Pursuing MBBS at KIMS, Odisha</span></div>
                                        </div>
                                        <div class="testimonial-content">
                                            <p>"Thank you for providing me the relevant MBBS admission guidance. Smart counselling process helped me with my MBBS admission, guided me in the right direction & enabled me to get admission in my dream college."</p>
                                        </div>
                                        <ul class="rating">
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                            <li><i class="fa fa-star"></i></li>
                                        </ul>

                                    </div>
                                    <div class="shape-shadow"></div>
                                </div>
                 
                        </div>
                 
                    <div class="shape-shadow"></div>
                </div>
            </div>
        </section>