<section class="workflow workflow_bg">
    <div class="container py-5">
        <div class="row">
            <div class="col-xl-6 my-auto">
                    <div class="">
                        <h6 class="title title_bg title_brush">What we do</h6>
                        <h2 class="subtitle py-2">Guiding you towards your <br><strong>DREAM CAREER</strong></h2>
                        <a href="#" class="btn btn-primary mt-2">Explor More</a>        
                    </div>
                </div>

                <div class="col-xl-6">
                    <div class="workflow_inner row">
                        <div class="col-md-6 pt-8">
                            <div class="workflow_item paper">
                                <span class="badge badge-dark">1</span>
                                <div class="icons icons_green"><i class="far text-white fa-2x fa-lightbulb"></i></div>
                                <a href="#">Identify <br>Aspirations</a>
                            </div>
                            <div class="workflow_item paper">
                                <span class="badge badge-dark">2</span>
                                <div class="icons icons_yellow"><i class="fas text-white fa-2x fa-user-check"></i></div>
                                <a href="#">Shortlist <br>Success</a>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="workflow_item paper">
                                <span class="badge badge-dark">3</span>
                                <div class="icons icons_purple"><i class="far text-white fa-2x fa-question-circle"></i></div>
                                <a href="#">Counsel <br>One on One</a>
                            </div>
                            <div class="workflow_item paper">
                                <span class="badge badge-dark">4</span>
                                <div class="icons icons_red"><i class="fas text-white fa-2x fa-tachometer-alt"></i></div>
                                <a href="#">Tracking <br>Monitoring</a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</section>