---
---

<!DOCTYPE html>
<html lang="en">
{% include head.html %}

<body>
  {% include navigation.html %} {% include header.html %}
  <!-- Page Content -->
  <div class="container mb-5">
    {{ content }}
  </div>
  <!-- /.container -->
  {% include footer.html %}

  <!-- Bootstrap core JavaScript -->
  <script src="{{ site.baseurl }}/assets/vendor/jquery/jquery.min.js"></script>
  <script src="{{ site.baseurl }}/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
  <script src="/assets/vendor/slick/slick.min.js"></script>

  <script>
    $(document).ready(function() {
 // executes when HTML-Document is loaded and DOM is ready

// breakpoint and up  
$(window).resize(function(){
  if ($(window).width() >= 980){  

      // when you hover a toggle show its dropdown menu
      $(".navbar .dropdown-toggle").hover(function () {
         $(this).parent().toggleClass("show");
         $(this).parent().find(".dropdown-menu").toggleClass("show"); 
       });

          // hide the menu when the mouse leaves the dropdown
        $( ".navbar .dropdown-menu" ).mouseleave(function() {
          $(this).removeClass("show");  
        });
    
      // do something here
    } 
  });  
});
</script>

<script>
  $(document).ready(function(){
    $('.slick-slider').slick({
        accessibility: true,
        arrows: false,
        infinite: true,
        speed: 300,
        slidesToShow: 1,
        slickPlay: true
    });
  });
</script>

</body>

</html>